## 5.3 Использование мультииндексации в Pandas

### Введение

Мультииндексация позволяет иметь несколько уровней индексов в DataFrame или Series. Это особенно полезно при работе с иерархическими данными. В этом учебном пособии мы рассмотрим, как использовать мультииндексацию в Pandas.

In [1]:
# Импортируем библиотеку Pandas
import pandas as pd

### Создание DataFrame с мультииндексом

Давайте создадим DataFrame с мультииндексом, состоящим из двух уровней: года и квартала.

In [2]:
# Создание данных
data = {
    'Year': [2020, 2020, 2020, 2020, 2021, 2021, 2021, 2021],
    'Quarter': [1, 2, 3, 4, 1, 2, 3, 4],
    'Revenue': [100, 200, 150, 250, 300, 350, 320, 400]
}

# Создание DataFrame
df = pd.DataFrame(data)

# Установка мультииндекса
df.set_index(['Year', 'Quarter'], inplace=True)

# Просмотр DataFrame
df

              Revenue
Year Quarter
2020 1            100
     2            200
     3            150
     4            250
2021 1            300
     2            350
     3            320
     4            400

### Доступ к данным с мультииндексом

Мы можем использовать метод `loc` для доступа к данным на разных уровнях индекса.

In [3]:
# Доступ к данным за 2020 год
data_2020 = df.loc[2020]

# Доступ к данным за 2 квартал 2021 года
data_q2_2021 = df.loc[2021, 2]

data_2020, data_q2_2021

(         Revenue
 Quarter
 1            100
 2            200
 3            150
 4            250,
 Revenue    350
 Name: (2021, 2), dtype: int64)

### Срезы с мультииндексом

Мы также можем использовать срезы для выбора данных на разных уровнях индекса.

In [4]:
# Выбор данных за 1 и 2 кварталы 2021 года
data_2021_q1_q2 = df.loc[2021].loc[1:2]

data_2021_q1_q2

         Revenue
Quarter
1            300
2            350

### Сброс мультииндекса

Метод `reset_index` позволяет сбросить мультииндекс и вернуть DataFrame к обычному индексу.

### Заключение

В этом учебном пособии мы рассмотрели, как использовать мультииндексацию в Pandas для работы с иерархическими данными. Мультииндексация полезна, когда у вас есть несколько уровней группировки и вы хотите выполнить сложные запросы к данным, сохраняя структуру данных.

Не забудьте практиковаться и экспериментировать с различными методами мультииндексации, чтобы лучше понять, как они работают и как их можно использовать в ваших проектах.